
body { font-family: Arial; background:#111; color:white; text-align:center; }
.section { margin:20px; padding:15px; background:#222; border-radius:10px; }
button { padding:10px 20px; margin-top:10px; }
